.App {
  text-align: center;
  height:100vh;
  background-color: #282c34;
  color:white;
  display:flex;
  flex-direction:column
}
.container h1 {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer{position:absolute; bottom:0; margin:1rem 1rem; background:#222; color:#FEFEFE; padding:0.5rem; border-radius:1rem}
.button{ padding:0.5rem; background: #0F0F0F; cursor: pointer;}
.modal{
  z-index: 3;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content{
  background:#0F0F0F;
  width: 30%;
  margin: auto;
  padding:2rem;
  border-radius: 5px;
}

a{
  color: inherit;
  text-decoration: none;
}

.contact{

  background:#FEFEFE;
  color:#282c34;
  width:20%;
  padding: 0.5rem;
  margin: auto;
  margin-top:5rem;
  border-radius: 5px;
}

.navigation-header{ display: flex; flex-direction: row; justify-content: flex-end; margin: 0.5rem 1rem;}

.champion-list{display:flex; flex-direction:row; align-items:center; justify-content:center}
.champion-list-item{display: flex; flex-direction: column; margin: 1rem; cursor: pointer}
